@font-face {
  font-family: 'NanumGothic';
  src: url('../../../asset/NanumGothic/NanumGothic-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.chatting_list {
  padding: 0;
}
.image {
  border-radius: 50%;
  margin-right: var(--margine-base);
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.chatting_list__li {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.message__bubble {
  background-color: var(--white-color);
  font-family: 'NanumGothic';
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
  margin: 0;
}
.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble__user {
  background-color: var(--chat-by-me-color);
  font-family: 'NanumGothic';
  border-radius: 15px;
  border-top-right-radius: 0px;
  padding: 10px;
  margin-left: 5px;
}
.message__author {
  font-family: 'NanumGothic';
  margin-bottom: 8px;
  display: block;
}
.sent {
  list-style: none;
  padding: var(--padding-small);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row-reverse;
}
/* .message__sent */
