@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('../asset/NanumGothic/NanumGothic-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic-Bold';
  src: url('../asset/NanumGothic/NanumGothic-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login_container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 3;
  backdrop-filter: blur(2px);
  overflow: hidden;
}

.login_modal {
  position: fixed;
  display: flex;
  width: 278px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-width: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  z-index: 2;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

.login_times {
  display: flex;
  position: fixed;
  font-size: 22px;
  font-weight: 700;
  margin-top: -450px;
  margin-left: 245px;
  font-family: 'NanumGothic', sans-serif;
}

.login_times:hover {
  cursor: pointer;
}

.login_title {
  display: flex;
  width: 278px;
  justify-content: center;
  align-items: center;
  margin: 42px auto 10px auto;
}

.login_title_logo {
  display: flex;
  width: 230px;
}

.login_input_box {
  width: 210px;
  height: 40px;
  padding-left: 12px;
  font-size: 13px;
  color: #686868;
  margin: 5px auto 5px auto;
  border: solid;
  border-color: rgb(0 0 0 / 20%);
  border-width: 1px;
  border-radius: 12px;
  background-color: #ffffff;
  /* font-family: 'NanumGothic', sans-serif; */
}

.login_input_box::placeholder {
  color: rgb(0 0 0 / 40%);
  font-family: 'NanumGothic', sans-serif;
}

.login_input_box:focus {
  outline-color: #ffc49d;
}

.login_button {
  width: 125px;
  height: 40px;
  font-size: 16px;
  margin: 35px auto 0 auto;
  border: none;
  color: white;
  font-weight: 500;
  background-color: #ff8a3c;
  border-radius: 12px;
  font-family: 'NanumGothic', sans-serif;
}

.login_button:hover {
  cursor: pointer;
}

.login_button:focus {
  outline-color: #ffc49d;
}

.login_icon {
  width: 12px;
  margin-right: 10px;
}

.login_kakao_button {
  width: 125px;
  height: 40px;
  font-size: 16px;
  margin: 10px auto 0px auto;
  border: none;
  color: #000000 85%;
  font-weight: 500;
  background-color: #fee500;
  border-radius: 12px;
  font-family: 'NanumGothic', sans-serif;
  text-decoration: none;
}

.login_kakao_button:focus {
  outline-color: #ffc49d;
}

.login_kakao_logo {
  width: 13.6px;
  margin-right: 10px;
}

.login_kakao_button:hover {
  cursor: pointer;
}

.black {
  color: black;
}

.login_description {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin: 40px auto 35px auto;
  font-family: 'NanumGothic', sans-serif;
}

.login_signup {
  color: #ff8a3c;
  margin-top: 8px;
  margin-left: 5px;
  font-weight: bold;
  font-family: 'NanumGothic-Bold', sans-serif;
}

.login_signup:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.login_error {
  /* display: none; */
  position: fixed;
  font-size: 12px;
  margin-top: 17px;
  margin-left: 39px;
  color: #ff6767;
}

.login_background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
