@font-face {
  font-family: 'NanumGothic';
  src: url('../asset/NanumGothic/NanumGothic-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic-Bold';
  src: url('../asset/NanumGothic/NanumGothic-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* -----------------------signout.tsx CSS----------------------- */

.signout_modal_container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
  backdrop-filter: blur(2px);
}

.signout_modal_body {
  position: fixed;
  display: flex;
  width: 300px;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-width: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  z-index: 1;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

.signout_modal_description {
  font-size: 17px;
  margin-bottom: 30px;
  font-family: 'NanumGothic', sans-serif;
}

.signout_modal_yes_button {
  width: 210px;
  height: 44px;
  color: #ffffff;
  background-color: #9b9b9b;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  font-family: 'NanumGothic', sans-serif;
}

.signout_modal_yes_button:hover {
  cursor: pointer;
}

.signout_modal_no_button {
  width: 210px;
  height: 44px;
  color: #ffffff;
  background-color: #ff8a3c;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  margin-bottom: 7px;
  font-family: 'NanumGothic', sans-serif;
}

.signout_modal_no_button:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------- */

/* ------------------------signup.tsx CSS----------------------- */

.signup_modal_container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
  /* backdrop-filter: blur(2px); */
}

.signup_modal_body {
  position: fixed;
  display: flex;
  width: 300px;
  height: 180px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-width: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  z-index: 1;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

.signup_modal_description {
  display: flex;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  font-family: 'NanumGothic', sans-serif;
}

.signup_modal_button {
  width: 80px;
  height: 44px;
  color: #ffffff;
  background-color: #ff8a3c;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  font-family: 'NanumGothic', sans-serif;
}

.signup_modal_button:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------- */

/* ------------------------mypage.tsx CSS----------------------- */

.change_password_modal_container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
  /* backdrop-filter: blur(2px); */
}

.change_password_modal_body {
  position: fixed;
  display: flex;
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-width: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  z-index: 1;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

.change_password_modal_description {
  display: flex;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  font-family: 'NanumGothic', sans-serif;
}

.change_password_modal_description_kakao {
  display: flex;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 22px;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  font-family: 'NanumGothic', sans-serif;
}

.change_password_modal_button {
  width: 90px;
  height: 44px;
  color: #ffffff;
  background-color: #ff8a3c;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  font-family: 'NanumGothic', sans-serif;
}

.change_password_modal_button:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------- */

/* ----------------------kakaoLogin.tsx CSS--------------------- */

.kakao_login_modal_container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
  /* backdrop-filter: blur(2px); */
}

.kakao_login_modal_times {
  display: flex;
  position: fixed;
  font-size: 22px;
  font-weight: 700;
  margin-top: -152px;
  margin-left: 317px;
  font-family: 'NanumGothic', sans-serif;
}

.kakao_login_modal_times:hover {
  cursor: pointer;
}

.kakao_login_modal_body {
  position: fixed;
  display: flex;
  width: 350px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-width: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  z-index: 1;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

.kakao_login_modal_description {
  display: flex;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 17px;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  font-family: 'NanumGothic', sans-serif;
}

.kakao_login_modal_description_kakao {
  display: flex;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 22px;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
}

.kakao_login_modal_button {
  width: 80px;
  height: 44px;
  color: #ffffff;
  background-color: #ff8a3c;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  font-family: 'NanumGothic', sans-serif;
}

.kakao_login_modal_button:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------- */
