.mypage_header {
  display: flex;
  width: 100%;
  height: 90px;
}

.mypage_container {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.mypage_profile {
  display: flex;
  width: 300px;
  height: 570px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.mypage_image {
  display: flex;
  width: 192px;
}

.mypage_score_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 11px;
  margin-bottom: 3px;
}

.mypage_score_description {
  font-size: 16px;
  font-weight: bold;
  color: #ff8a3c;
}

.mapage_score {
  display: flex;
  font-size: 14px;
  width: 85px;
  height: 28px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ff8a3c;
  margin-top: 2px;
  border-radius: 25px;
}

.mypage_input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto 12px auto;
}

.mypage_id_name {
  width: 205px;
  height: 36px;
  margin-bottom: 7px;
  font-size: 13px;
  padding-left: 12px;
  background-color: #d6d6d6;
  border: none;
  border-radius: 12px;
  font-family: 'NanumGothic', sans-serif;
}

.login_input_box::placeholder {
  color: rgb(0 0 0 / 40%);
}

.mypage_password_change_check {
  width: 205px;
  height: 36px;
  margin: 10px auto auto auto;
  padding-left: 12px;
  color: #686868;
  border: solid;
  border-color: rgb(0 0 0 / 20%);
  background-color: #ffffff;
  border-width: 1px;
  border-radius: 12px;
  font-size: 13px;
}

.mypage_password_change_check::placeholder {
  color: rgb(0 0 0 / 40%);
  font-family: 'NanumGothic', sans-serif;
}

.mypage_password_change_check:focus {
  outline-color: #ffc49d;
}

.mypage_password_change_check_kakao {
  width: 205px;
  height: 36px;
  margin: auto auto 7px auto;
  padding-left: 12px;
  color: #686868;
  border: none;
  background-color: #d6d6d6;
  border-radius: 12px;
  font-size: 13px;
  font-family: 'NanumGothic', sans-serif;
}

.mypage_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9px;
}

.mypage_modify_button {
  width: 130px;
  height: 46px;
  color: #ffffff;
  background-color: #ff8a3c;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  font-family: 'NanumGothic', sans-serif;
}

.mypage_modify_button:hover {
  cursor: pointer;
}

.mypage_signout_button {
  width: 130px;
  height: 46px;
  color: #ffffff;
  background-color: #ff6666;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  margin-top: 15px;
  font-family: 'NanumGothic', sans-serif;
}

.mypage_signout_button:hover {
  cursor: pointer;
}

.mypage_admin_button {
  width: 80px;
  min-height: 32px;
  background-color: #ff8a3c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-family: 'NanumGothic', sans-serif;
}

.mypage_admin_button:hover {
  cursor: pointer;
}

.mypage_error {
  display: flex;
  color: #ff6666;
  margin-top: 2px;
  font-size: 11px;
  padding-left: 58px;
}

.mypage_space {
  display: flex;
  margin-top: 2px;
  font-size: 11px;
  padding-left: 0.6vw;
  opacity: 0;
}

.mypage_space:hover {
  cursor: default;
}

@media screen and (max-width: 767px) {
  .mypage_header {
    height: 100px;
  }
  .mypage_image {
    display: flex;
    width: 160px;
  }

  .mypage_input_container {
    margin-top: 20px;
    margin-bottom: 14px;
  }
}
