@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.third_container {
  display: flex;
  min-height: 60vw;
  color: #ff8a3c;
  font-size: 4vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  font-family: 'BMDOHYEON', sans-serif;
}

@media screen and (max-width: 767px) {
  .third_container {
    font-size: 5.5vw;
    margin-top: 23vw;
    margin-bottom: 23vw;
  }
}
