@font-face {
  font-family: 'NanumGothic';
  src: url('../../../asset/NanumGothic/NanumGothic-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.createRoom {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  background-color: var(--chat-background-color);
  min-width: 400px;

  animation: fade 1s ease-in-out;
}
.image {
  width: 4.75rem;
}
.p {
  font-family: 'NanumGothic';
  flex-wrap: nowrap;
  word-break: keep-all;
  font-size: var(--font-size-base);
  color: #8e8e8e;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .createRoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  .p {
    flex-wrap: nowrap;
    word-break: normal;
    font-size: var(--font-size-base);
    font-family: 'Nanum Gothic', sans-serif;
    color: #8e8e8e;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  .createRoom {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    box-shadow: var(--box-shadow);

    animation: fade 1s ease-in-out;
  }
  .p {
    flex-wrap: nowrap;
    word-break: keep-all;
    font-size: var(--font-size-base);
    font-family: 'Nanum Gothic', sans-serif;
    color: #8e8e8e;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .createRoom {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;

    min-width: var(--min-sider-width);
    margin: auto;
    animation: fade 1s ease-in-out;
  }
  .p {
    flex-wrap: nowrap;
    word-break: keep-all;
    font-size: var(--font-size-base);
    font-family: 'Nanum Gothic', sans-serif;
    color: #8e8e8e;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .createRoom {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

    width: 100vw;
    min-width: var(--min-sider-width);
    margin: auto;
    animation: fade 1s ease-in-out;
  }
  .p {
    flex-wrap: nowrap;
    word-break: keep-all;
    font-size: var(--font-size-base);
    font-family: 'Nanum Gothic', sans-serif;
    color: #8e8e8e;
  }
}
@media screen and (max-width: 320px) {
  .createRoom {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

    width: 100vw;
    min-width: var(--min-sider-width);
    margin: auto;
    animation: fade 1s ease-in-out;
  }
  .p {
    text-align: center;
    font-size: var(--font-size-base);
    font-family: 'Nanum Gothic', sans-serif;
    color: #8e8e8e;
  }
}
@media screen and (min-height: 1000px) {
  .createRoom {
    min-height: 700px;
  }
}
@media screen and (min-width: 768px) and (max-height: 800px) {
  .createRoom {
    min-height: 700px;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
