.section {
  padding-top: 4.6rem;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.main::-webkit-scrollbar {
  width: 0;
}
.main {
  position: relative;
  width: 100vw;
  overflow-y: auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .section {
    height: 100vh;
    overflow-y: auto;
  }
  .main {
    position: relative;
    width: 100vw;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .section {
    overflow-y: hidden;
  }
}
